body {
    background-color: white;
    color: black;
    font-family: 'Cera', sans-serif;
}

@font-face {
    font-family: 'Cera';
    src: url('fonts/cera.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}




.name {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} 